/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle, rgb(88, 64, 131) 0%, rgba(5,0,19,1) 100%);
    min-height: 100vh;
    color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden; 
  }

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    padding:5px;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .nav-logo {
    font-size: 24px;
    font-weight: bold;
    font-family: fantasy;
    padding: 0px;
    
  }
  .nav-logo img{
    width: 80px;
    border-radius: 100px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin:0px 0px 0px 0px;
    padding: 10px;
  }
  
  .nav-links button{
    padding: 8px 16px;
    margin-top: 10px;
    background-color: darkorchid;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #282c34;
    width: 100%;
  
  }
  .nav-links button:hover{
    color: rgb(255, 255, 255);
    background-color: #000000;
  }
  
  
.txt{
    text-align: center;
}
.txt h2{
    color: palevioletred;
}
/* Footer Section */
footer {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    text-align: center;
}

.footer-links a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

